<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.icemanagement.mapper.EquipmentMapper">


    <select id="pageQuery" resultType="com.example.icemanagement.pojo.entity.Equipment">
        select * from icemanagement.equipment
        order by create_time DESC
    </select>
</mapper>