<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.icemanagement.mapper.RecordsMapper">

    <update id="leaseUpdate">
        update icemanagement.equipment_rental_records
        <set>
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="rentalTime != null">rental_time = #{rentalTime}</if>
            <if test="returnTime != null">return_time = #{returnTime}</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
<!--            <if test="createTime != null">create_time = #{createTime},</if>-->
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>
    <update id="reserveUpdate">
        update icemanagement.space_reserve_records
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="spaceId != null">space_id = #{spaceId},</if>
            <if test="reserveTime != null">reserve_time = #{reserveTime}</if>
            <if test="duration != null">duration = #{duration}</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>
    <insert id="createReserve" useGeneratedKeys="true" keyProperty="id"><!--  useGeneratedKeys="true" 获取生成的主键值  keyProperty="id" 把"id"的值赋给ReserveRecords 中的id属性 -->
        insert into icemanagement.space_reserve_records
            (user_id, space_id, reserve_time, duration, update_time,create_time, status) VALUES
            (#{userId},#{spaceId},#{reserveTime},#{duration},#{updateTime},#{createTime},#{status})
    </insert>
    <select id="listReserveRecords" resultType="com.example.icemanagement.pojo.vo.ReserveRecordsVO">
        select s.space_name,
               u.name,
               u.sex,
               u.phone,
               u.id_number,
               rr.reserve_time,
               rr.duration,
               rr.create_time
        from icemanagement.space_reserve_records rr
                 join icemanagement.user u on rr.user_id = u.id
                 join icemanagement.space s on rr.space_id = s.id
        order by create_time DESC
    </select>
</mapper>
