<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.icemanagement.mapper.RecordsMapper">

    <update id="leaseUpdate">
        update icemanagement.equipment_rental_records
        <set>
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="rentalTime != null">rental_time = #{rentalTime}</if>
            <if test="returnTime != null">return_time = #{returnTime}</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where id = #{id}
    </update>
    <update id="reserveUpdate">
        update icemanagement.space_reserve_records
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="spaceId != null">space_id = #{spaceId},</if>
            <if test="reserveTime != null">reserve_time = #{reserveTime},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <insert id="createReserve" useGeneratedKeys="true" keyProperty="id"><!--  useGeneratedKeys="true" 获取生成的主键值  keyProperty="id" 把"id"的值赋给ReserveRecords 中的id属性 -->
        insert into icemanagement.space_reserve_records
            (user_id, space_id, reserve_time, duration, update_time,create_time, status,remark) VALUES
            (#{userId},#{spaceId},#{reserveTime},#{duration},#{updateTime},#{createTime},#{status},#{remark})
    </insert>

    <insert id="createLease" useGeneratedKeys="true" keyProperty="id">
        insert into icemanagement.equipment_rental_records
        (user_id, equipment_id, rental_time, return_time, update_time, status, remark, create_time) VALUES
        (#{userId},#{equipmentId},#{rentalTime},#{returnTime},#{updateTime},#{status},#{remark},#{createTime})
    </insert>

    <select id="listReserveRecords" resultType="com.example.icemanagement.pojo.vo.ReserveRecordsVO">
        select s.space_name,
               u.user_name,
               u.sex,
               u.phone,
               u.id_number,
               rr.reserve_time,
               rr.duration,
               rr.create_time,
               rr.remark
        from icemanagement.space_reserve_records rr
                 left join icemanagement.user u on rr.user_id = u.id
                left join icemanagement.space s on rr.space_id = s.id
        where u.id = #{id}
        order by create_time DESC
    </select>
    <select id="listLeaseRecords" resultType="com.example.icemanagement.pojo.vo.LeaseRecordsVO">
        select e.equipment_name,
               u.user_name,
               u.sex,
               u.phone,
               u.id_number,
               err.rental_time,
               err.return_time,
               err.remark,
               err.create_time
        from icemanagement.equipment_rental_records err
        left join icemanagement.user u on err.user_id = u.id
        left join icemanagement.equipment e on err.equipment_id = e.id
        where u.id = #{userId}
    </select>
</mapper>
