<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.icemanagement.mapper.SpaceMapper">
    <update id="update">
        update icemanagement.space
        <set>
            <if test="spaceName != null">space_name = #{spaceName},</if>
            <if test="precautions != null">precautions = #{precautions},</if>
            <if test="img != null">img = #{img},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteByIds">
        delete from icemanagement.space where id in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.example.icemanagement.pojo.entity.Space">
        select * from icemanagement.space
        <where>
            <if test="name != null" >
                and space_name like concat('%', #{name}, '%')
            </if>
        </where>
        order by create_time DESC
    </select>
</mapper>